.bio-card-container {
    background: #fbcdc1;
}

.about {
    background: #ffece8;
}

.view-port-btn{
    padding: 0px 5px;
    font-size: 0.65rem;
    border-radius: 0.3rem;
}

.row{
    margin-left: 0;
    margin-right: 0;
}
